<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
<style>
  h4, .text-delta { font-weight: 400; text-transform: uppercase; letter-spacing: 0.1em; }
  h4, .text-delta { font-size: 0.7875rem !important; }
@media (min-width: 31.25rem) { h4, .text-delta {font-size: 0.95rem !important;} }
@media (min-width: 31.25rem) {
    h4, .text-delta {
        font-size: 0.95rem !important;
    }
}
.newpage { page-break-before: always }
@media print {
  .anchor-heading, .text-delta, #markdown-toc {
    display: none !important;
  }
  body {
    font-size: 1.3em;
  }
   h4, .text-delta {
        font-size: 1.15rem !important;
    }
}

</style>